.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
log/*.pid
.rvmrc

config/amazon_s3.yml
config/facebook.yml
config/mail.yml
config/*.sphinx.conf
config/development.sphinx.conf
log/searchd.development.pid
public/system/*
public/assets/
