<div>
  <h2>Global Search:</h2>
  <%= form_for :search, :url => search_index_path, :html => {:method => :get} do |f| %>
    <p>
      <%= text_field_tag :search %>
      <input type="submit" value="Search"/>
    </p>
  <% end %>
</div>