<div class="content" id="post_index">
  <% if @posts.blank? %>
    <h3>There are no posts!</h3>
  <%else%>
  <ul class="posts_list">

    <% @posts.each do |post| %>
      <li class="post">
        <% @post1 = post %>
        <% if @post1.entry_feed_id.blank? %>
          <%= render :partial => "posts/post" %>
        <%else%>
          <%= render :partial => "posts/post_with_blog" %>
        <%end%>

      </li>
        <div class="clear"></div>
    <% end %>
  </ul>


  <%end%>
</div>




</div>