// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: #000;
$text-color: #000;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  }

#blogs{

  .title {
    height: 40px;
    display: block;
    text-align: center;

    span {
      font-size: 35px;
    }
  }

  .blogs {
    margin: 10px 0 10px 0;
    padding: 0;
    width: 560px;

    .blog {
      margin: 5px 0 10px 0;
      display: block;
      border-bottom: 1px solid $border-color;

      .blog_origins{
        font-weight: bold;
        text-align: right;
        background: #c00;
        color: #Fff;
        font-size: 14px;
        width: 80px;
        padding: 4px;

        .triangle{
        display: block;
        border-bottom: 16px solid transparent;
        overflow: hidden;
        position: absolute;
        }

        #red {
          border-right: 16px solid red;
        }
        #green{
          border-right: 16px solid green;
        }
        #yellow{
          border-right: 16px solid yellow;
        }
        #blue {
          border-right: 16px solid blue;
        }
        #purple {
          border-right: 16px solid purple;
        }
        #pink {
          border-right: 16px solid pink;
        }


      }

      .blog_title {
        padding: 4px;
        text-align: left;
        display: block;
        width: 80%;



        #title {
          margin: 0 5px 5px 5px;
          font-size: 20px;
          text-decoration: none;

        }

        a {
          text-decoration:none;
        }
      }

      .blog_info {
        background: #D8D8D8;
        display: block;
        height: 20px;


        span {
          margin-left: 10px;
          text-align: left;
          width: 260px;
          display: block;

        }

      }

      .blog_content {
        padding: 5px;

        p {
          font-size: 15px;
          text-align: justify;
        }
        span {

        }

      }

      .blog_trends {
        padding: 4px;

        span {
          margin-left: 10px;
          font-size: 12px;
        }
      }

    }

  }
}

/* SHOW */

#blog {


  .blog-title {
    font-size: 30px;
    border-bottom: 1px solid #000;
    text-align: center;
  }

  .blog-info {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }

  .blog-content {
    border-bottom: 1px solid #000;

    p {
      font-size: 20px;
      text-align: justify;
    }
  }

  .blog-trends {
    border-bottom: 1px solid #000;
    margin: 5px 0 5px 0;


    .blog-trend {
        display: block;
        padding: 5px;
        margin: 10px 10px 10px 10px;
        border: 1px solid $border-color;
        @include rounded-corners(5px);
        font-size: 16px;
    }
  }

}

