// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  <div class="trends-viewer">
    <div class="trends-list-container">
      <div class="trends-panel">
        <% @top_trends.each do |trend|%>
          <div class="trend-body fl">
            <div class="title">
                <span><%= trend.name %></span>
            </div>
            <div class="stats">
              <div class="people_stat"><%= trend.trend_count %></div>
              <div class="blog_stat"><%= trend.blogs.count%></div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="clear"></div>
  </div>
</div>
*/


#trend-top-section {

  .trend-section {
    background: #D2D2D2;
    margin: 5px 0 10px 0;
    border:2px solid #06F;
    border-radius: 4px;

    .title-trends{
      padding: 0;
      margin: 0;
      list-style:none;
      background: #06F;
      width: 100%;
      height: 49px;
      li{
        border: 1px solid #fff;
        margin: 3px;
        font-size: 25px;
        font-weight: bold;
        padding: 5px;
        color: #fff;
        display: inline-block;
        background: #06F;
        &:hover{
          background: #396;
        }
      }
      #active-selection {
        background: #fff;
        color: #396;

      }
    }

    .stripNavL {
      border: 2px solid #06F;
      border-radius: 40px;
      moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      background: #fff;
      padding: 2px;
      z-index: 50;
      position: absolute;
      top: 200px;
      left: -15px;
      font-weight: bold;

      &:hover{
        background: #396;
        color: #fff;
      }
    }
    .stripNavR {
      border: 2px solid #06F;
      border-radius: 40px;
      moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      background: #fff;
      padding: 2px;
      z-index: 50;
      position: absolute;
      top: 200px;
      right: -15px;
      font-weight: bold;

      &:hover{
        background: #396;
        color: #fff;
      }
    }
    .trends-viewer {
      overflow: hidden;
      width: 100%;
      position: relative;

      .trends-list-container{
        height: 345px;
        list-style-type: none;
        position: relative;
        top:0;
        width: 3120px;

        .trends-panel{
          float: left;
          height: 100%;
          position: relative;
        }
      }
    }



      /*Each Trend Displayed here*/
      .trend-body{
        display: inline-block;
        background: #fff;
        height: 300px;
        width: 300px;
        margin: 5px;
        border: 1px solid #000;
        .title{
          display: 100%;
          padding: 5px;
          background: #396;
          span{
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            padding: 5px;
          }
        }
        .stats{
          margin: 4px;
          font-size: 17px;

          .stat{
            font-size: 18px;
            font-weight: bold;
            color: #c00;;
          }
        }
      }
      /*End each Trend*/


  }




}