// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$border-color: #000;
$text-color: #000;
$name-color: #0000FF;
$trend-color: #339966;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  }

@mixin border($color) {
  border-bottom: 1px solid $color;
}

#posts{

  .title {
    height: 40px;
    display: block;
    text-align: center;

    span {
      font-size: 35px;
    }
  }

  .posts_list {
    margin: 10px 0 10px 0;
    padding: 0;
    width: 560px;
    list-style: none;

    li.post {
      padding-top: 5px;
      padding-bottom: 10px;
      margin: 2px 0 2px 0;
      display: block;
      @include border($border-color);

      .post_content {
        text-align: left;
        display: block;

        .post_title {
          text-align: left;
          font-size: 14px;
          margin: 0 0 5px 0;


          #trend{
            text-decoration: none;
            font-size: 16px;
            color: $trend-color;
            font-weight: bold;
          }

          #name {
            text-decoration: none;
            font-size: 16px;
            color: $name-color;
          }

        }

        .content {
          margin: 5px 0 10px 20px;
          font-size: 16px;
        }


      }

      .post_info {
        display: block;
        width: 300px;


        span {
          margin-left: 10px;
          text-align: left;
          width: 260px;
          display: block;

        }

      }

     .trend_hops {

        .subsection_title {
          font-size: 12px;
        }

        #hop {
          list-style: none;
          float: left;
          margin: 0 10px 5px 0;


        }

     }

    }

  }
}

/* SHOW */

#post {


  .post-title {
    height: 35px;
    font-size: 30px;
    border-bottom: 1px solid $border-color;
  }

  .post-info {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
    font-size: 14px;
    border-bottom: 1px solid $border-color;
  }

  .post-content {
    border-bottom: 1px solid $border-color;

    p {
      font-size: 20px;
      text-align: justify;
    }
  }

  .post-trends {
    border-bottom: 1px solid $border-color;
    margin: 5px 0 5px 0;


    .post-trend {
        display: block;
        padding: 5px;
        margin: 10px 10px 10px 10px;
        border: 1px solid $border-color;
        @include rounded-corners(5px);
        font-size: 16px;
    }
  }

}

