
$border-color: #000;
$text-color: #000;
$name-color: #0000FF;
$trend-color: #339966;
$post-color: #0000FF;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  }
.filler-header {
  height: 80px;
  background: #0066FF;
}

/*Whats trending pop down!!! TEST*/

.whats-trending {
  height: 165px;
  width: 600px;
  float:right;
  background: #0066FF;

  .title {
    margin: 2px;
    font-size: 20px;
    color: #fff;
  }

  .field {
    width: 100%;
    #post_post_content_content{
      width: 90%;
      height: 80px;
      margin: 0 0 0 20px;
      resize: none;
      font-size: 17px;
    }
  }
  .cancel-action{
    border: 2px solid #fff;
    padding: 5px;
    margin-left: 35px;
    font-size: 20px;
    background: #c00;
    a{
      color: #fff;
      &:hover {
        background: #c00;
      };
    }
  }
  .actions{
    float:right;
    margin-right: 35px;
    input{
      font-size: 20px;
      background: #339966;
      color: #fff;
    }
  }

}




.search-bar {
  margin: 4px 0 4px 0;

  #search {
    width: 350px;
  }
}

/* BUTTON STYLES */
.button{
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 0 8px;
  height: 27px;
  min-width: 50px;
  text-decoration: none;
  line-height: 24px;
}

  .edit {
    background-color: #3d9400;
    border: 1px solid #29691D;
    color: #fff;

     &:hover{
        background: #0000FF;
      }
  }

  .over_section{
    margin: -40px -50px auto 0;
    height: 80px;
    width: 50px;
    line-height: 60px;



    .post-link {
      width: 50px;
      border-left: 3px solid #D8D8D8;
      display: block;
      padding: 2px;
      height: 80px;
      font-weight: bold;
      font-size: 30px;
      color: #000;

      &:hover {
        background: #D8D8D8
      };
    }
  }

  .add_friend {
    background-color: #3d9400;
    border: 1px solid #29691D;
    color: #fff;

     &:hover{
        background: #0000FF;
      }
  }

  .remove_friend {
    background-color: #c00;
    border: 1px solid #c00;
    color: #fff;

     &:hover{
        background: #3d9400;
      }
  }



.retrend-button {
  background-color: $trend-color;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align:center;
  border:1px solid #fff;
  padding: 0 5px;
  height: 18px;
  min-width: 40px;
  line-height: 15px;
}
.untrend-button {
  background-color: #c00;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align:center;
  border:1px solid #fff;
  padding: 0 5px;
  height: 18px;
  min-width: 40px;
  line-height: 15px;
}

  .profile-mini {
    display: block;
    height: 65px;
    margin: 4px 4px 4px 0;
    padding: 3px;
    background: #fff;
    @include rounded-corners(10px);

    .user-name {
      margin: 2px 0 0 5px;
      font-size: 16px;
    }

    .profile-pic-mini {
      height: 60px;
    }

  }

  .login-mini {
    margin: 4px;
    padding: 3px;
    height: 60px;
    background: #fff;

    div {
      text-align: center;
      margin: 2px 0 10px;
      a{
        text-decoration: none;
        font-size: 20px;
        }
    }

  }

#header_container {
  background-color: #0066FF;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0;



  #header {
/*    position: fixed !important;*/
    top: 0;
  }


  .logo_home {

    .logo_link{
     height: 75px;
    }

  }

  .home-nav {


    .home-link{
      float: left;
      height: 25px;
      margin: 4px 4px 2px 0;
      width: 95px;
      padding: 4px;
      background: #fff;
      text-decoration: none;
          @include rounded-corners(5px);

      &:hover{
        background: $trend-color;
        color: #fff;

      .link {
        font-weight: bold;
        text-decoration: none;
      }

      }

      .link {
        font-size: 20px;
        text-decoration: none;
      }

    }



  }


}



.content {
  margin: 5px 0 5px 0;
}

.section_title {
  font-size: 20px;
  font-weight: bold;
}

#trend {
  color: $trend-color;
}

#post {
  color: $post-color;
}