
$border-color: #000;
$text-color: #000;
$name-color: #0000FF;
$trend-color: #339966;
$post-color: #0000FF;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  }
.filler-header {
  height: 45px;
  background: #0066FF;
}

.darken-background {
  background: darken(#fff, 60%) !important;
  z-index: 300;
  height: 100% !important;
  .filter-link, #comment_post_body, #active-filter, .post-date, .untrend-button, .retrend-button, .trend-button, #comments_index {
    background: darken(#fff, 60%) !important;
  }

}

/*Whats trending pop down!!! TEST*/

.whats-trending {
  height: 215px;
  width: 600px;
  float:right;
  background: #fff;
  border: 3px solid #0066FF;

  .top-trend-menu{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #000;
    margin: 2px 0 4px 0;

    .pop-down-option{
      height: 30px;
      padding: 0 0 5px 0;
      text-align: center;
      width: 50%;
      font-weight: bold;
      font-size: 25px;
    }

    .inactive {
      background: #0066FF;
      color: #fff;
      &:hover{
        background: $trend-color;
      }
    }
    .active {
      background: darken(#0066FF, 30%);
      color: #fff;
    }

  }

  .menu-content {
    height: 110px;
  }

  #current-now {
    font-size: 20px;
    color: #000;
    background: #fff;

    .trending-info {
      padding: 5px;
      height: 95px;
    }
    .top-trends {
      background: #D8D8D8;
      padding: 5px;
      height: 30px;
      border-top: 1px solid #0066FF;
      font-size: 20px;

      ol{
        margin: 0;
        display: inline-block;
        counter-reset: item 0;

        li:before {counter-increment: item; content: counter(item) ". "; }
        li {list-style-type: none; display: inline-block; font-size: 16px; margin-right: 10px;}
      }
    }
    .bottom-info{
      padding: 1px 0 1px 0;
      background: #D8D8D8;
      height: 30px;
      width: 100%;

      .info{
        padding: 3px;
        margin: 0 4px 0 4px;
        border-left: 2px solid #0066FF;
        border-right: 2px solid #0066FF;
      }
    }
  }

  #trend-something {
    font-size: 20px;
    color: #000;
    background: #fff;

  }


  .field_1 {
    width: 100%;
    #post_post_content_content{
      width: 90%;
      height: 80px;
      margin: 0 0 0 20px;
      resize: none;
      font-size: 17px;
    }
  }
  .field_2 {
    width: 100%;
    #post_post_content_content{
      width: 90%;
      height: 50px;
      margin: 0 0 0 20px;
      resize: none;
      font-size: 17px;
    }
  }
  .info_field{
    width: 90%;
    margin: 0 0 5px 20px;
    padding: 3px;
    font-size: 15px;
    background: #fff;
  }

  .cancel-action{
    border: 2px solid #fff;
    padding: 5px;
    margin-left: 35px;
    font-size: 20px;
    background: #c00;
    a{
      color: #fff;
      &:hover {
        background: #c00;
      };
    }
  }
  .actions{
    float:right;
    margin-right: 35px;
    input{
      font-size: 20px;
      background: #339966;
      color: #fff;
    }
  }

}




.search-bar {
  margin: 4px 0 4px 0;

  #search {
    width: 320px;
  }
}

/* BUTTON STYLES */
.button{
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 0 8px;
  height: 27px;
  min-width: 50px;
  text-decoration: none;
  line-height: 24px;
}

  .edit {
    background-color: #3d9400;
    border: 1px solid #29691D;
    color: #fff;

     &:hover{
        background: #0000FF;
      }
  }

  .over_section{
    margin: 30px -50px auto 0;
    height: 80px;
    width: 50px;
    line-height: 60px;



    .post-link {
      width: 50px;
      border-left: 3px solid #D8D8D8;
      display: block;
      padding: 2px;
      height: 80px;
      font-weight: bold;
      font-size: 30px;
      color: #000;

      &:hover {
        background: #D8D8D8
      };
    }
  }

  .add_friend {
    background-color: #3d9400;
    border: 1px solid #29691D;
    color: #fff;

     &:hover{
        background: #0000FF;
      }
  }

  .remove_friend {
    background-color: #c00;
    border: 1px solid #c00;
    color: #fff;

     &:hover{
        background: #3d9400;
      }
  }


.follow-button {
  background-color: #3D9400;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align:center;
  border:1px solid #fff;
  padding: 0 5px;
  height: 18px;
  min-width: 40px;
  line-height: 15px;
}

.unfollow-button {
  background-color: #c00;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align:center;
  border:1px solid #fff;
  padding: 0 5px;
  height: 18px;
  min-width: 40px;
  line-height: 15px;
}

.retrend-button {
  background-color: $trend-color;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align:center;
  border:1px solid #fff;
  padding: 0 5px;
  height: 18px;
  min-width: 40px;
  line-height: 15px;

/*  -webkit-box-shadow:
      0 4px 0 #000,
      0 8px 10px rgba(0,0,0,.35);
    -moz-box-shadow:
      0 4px 0 #000,
      0 8px 10px rgba(0,0,0,.35);
    box-shadow:
      0 4px 0 #000,
      0 8px 10px rgba(0,0,0,.35);
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    -o-transition: -o-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;*/
}
.untrend-button {
  background-color: #c00;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align:center;
  border:1px solid #fff;
  padding: 0 5px;
  height: 18px;
  min-width: 40px;
  line-height: 15px;

/*  -webkit-box-shadow:
      0 8px 0 #1a74a1,
      0 15px 20px rgba(0,0,0,.35);
    -moz-box-shadow:
      0 8px 0 #1a74a1,
      0 15px 20px rgba(0,0,0,.35);
    box-shadow:
      0 8px 0 #1a74a1,
      0 15px 20px rgba(0,0,0,.35);
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    -o-transition: -o-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;*/
}




/* PROFILE LOGIN &  STYLES*/

  .open-menu {
    background: lighten(#06F, 20%);
  }

  .plus-menu {
    background: #06F;
  }

  .profile-mini {
    display: block;
    height:45px;
    margin: 0px 0 0px 4px;
    padding: 3px;

    .profile-pic-mini {
      height: 30px;
      margin: 2px;
    }

    .profile-name {
      margin: 2px 0 0 2px;
      font-size: 18px;

      a {
        color: #fff;
      }
    }

    .profile-menu{
      margin: 5px 0 0 8px;
      padding: 2px;
    }
  }

  .login-mini {
    margin: 4px;
    padding: 3px;
    height: 60px;
    background: #fff;

    div {
      text-align: center;
      margin: 2px 0 10px;
      a{
        text-decoration: none;
        font-size: 20px;
      }
    }
  }

/*END PROFILE*/





#header_container {
  background-color: #0066FF;
  position: fixed;
  width: 100%;
  height: 48px;
  z-index: 11;
  top: 0;

  #header_border{
    width: 100%;
    height: 4px;
    background-image: url("/assets/Tborder.png") repeat-x;
    background-size: 4px;
  }



  #header {
/*    position: fixed !important;*/
    top: 0;
  }


  .logo_home {
    width: 120px;

    .logo_link{
      height: 42px;

      &:hover{
        background: {opacity: 1.0}
      }
    }
  }

  .home-nav {


    .home-link{
      font: #fff;
      float: left;
      height: 25px;
      margin: 4px 4px 2px 0;
      padding: 3px;
      text-decoration: none;
      font-weight: bold;
      text-align: center;

      .link {
        color: #fff;
        font-size: 17px;
        text-decoration: none;
      }

      &:hover{
        background: #fff;
        color: #000;
        opacity: 0.64;

        .link {
          color: #000;
        }
      }
    }
  }
}



.content {
  margin: 5px 0 5px 0;
}

.section_title {
  font-size: 20px;
  font-weight: bold;
}

#trend {
  color: $trend-color;
}

#post {
  color: $post-color;
}