// Place all the styles related to the trends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: #06F;;
$text-color: #000;
$name-color: #0000FF;
$trend-color: #339966;
$post-border: #616D7E;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  }

@mixin borders($color){
  border-bottom: 1px solid $color;

  }

/* INDEX */
#trends {
.title {
  height: 40px;
  display: block;
  text-align: center;

  span {
    font-size: 35px;

  }
}
.trends_list {
  list-style:none;
  padding: 0;
  margin: 10px 0 5px 0;

  .trend {
    margin: 5px 0 10px 0;
    display: block;
    border: 1px solid #000;
    @include rounded-corners(5px);



    .trend_info {
      display: block;
      width: 180px;
      height: 100%;

      .trend_title {
        text-align: center;
        margin: 5px 5px 5px 5px;
        display:block;

        a {
          margin-top: auto;
          margin-bottom: auto;
          font-size: 25px;
          color: $trend-color;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            }

        }
      }

      span {
        font-size: 12px;
        color: $text-color;
        margin-left: 10px;
      }
    }

    .trend_posts{
      display: block;
      width: 100%;

      ul.trend_post {
        height: 90px;
        overflow: auto;
        padding:0;
        list-style: none;
        margin: 0px 5px 5px 5px;

        li {
          width: 95%;
          float: left;
          padding-bottom: 3px;
          margin: 2px 0 2px 10px;
          font-size: 15px;
          border-bottom: 1px solid $post-border;

          a {
            text-decoration: none;}
          }

        }
      }

      .trend_hops {
        border-top: 1px solid #000;
        width: 100%;
        display: block;

        .trend_section_info {
          margin: 5px;
          font-size: 14px;
        }

        .trend_hop {
          overflow:auto;
          display: table;
          padding: 0;
          list-style:none;
          margin: 5px 5px 5px 5px;

          li {
            float: left;
            margin-left: 15px;
            font-size: 15px;

            a{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
  /* SHOW*/

  #trend_show {

    .trend-title {
      height: 35px;
      font-size: 22px;
      border-bottom: 1px solid #000;

      #title {
        font-size: 35px;
        margin-left: 15px;
      }

    }

    .trend-info {
      margin: 4px 0 2px 0;
      height: 20px;
      border-bottom: 1px solid #000;
      font-size: 15px;

      #category {
        width: 350px;
      }
      #count {

      }

    }


    .trend_posts {

      .posts {
        margin: 5px 0;

        .post {

          border-bottom: 1px solid #000;
          border-top: 1px solid #000;

          .post_title {
            padding: 5px 0 5px 0;
            width: 300px;
            font-size: 18px;
          }
          .post_info {
            padding: 5px;
            border-right: 1px solid #000;
            border-left: 1px solid #000;
          }
          .blog_options {

          }
        }
      }

    }

  }

/* Trend List */

  ul#trend_list {
    padding: 0;
    list-style: none;


    .trend_item {
      border-bottom: 1px solid $border-color;
      margin: 5px 0 5px 0;
      width: 100%;

      .trend-row {
        margin: 2px 0 2px 4px;

        #hop-title {
          color: $trend-color;
                    font-weight: bold;

          a{
           color: $trend-color;
           font-size: 16px;
           text-decoration: none;
          }
        }
        #hop-count {
          margin-left: 5px;
        }

      }

    }
  }
  
  /* Trend Filter */
  
  .left_menu_post_select{
    width: 100%;
    margin: 15px 0 0 0;
    border: 2px solid #06F;
    
    .section_title{
      height: 25px;
      width: 100%;
      background: #06F;
      span{font-size:17px;font-weight: bold; color: #fff; padding: 3px;}  
    }
  }
  
  ul.trend_filters {
    list-style: none;
    padding: 0;
    margin: 0;
    
    .filter-link {
      display: block;
      height: 24px;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      padding: 5px;
      text-decoration: none;
      
      &:hover{
        background: $name-color;
        color: #fff;
        font-weight: bold;
      }
      
      li.filter {
        font-size: 18px;
        
        a{
          text-decoration: none;
          margin-left: 5px; 
        }
        
      }
    }
  
     #active-filter {
        background-color: $trend-color;
        color: #fff;
        font-weight: bold;
    }
  }


