// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: #000;
$text-color: #000;
$name-color: #0000FF;
$trend-color: #339966;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  }

@mixin border($color) {
  border-bottom: 1px solid $color;
}


  .user-top {
    height: 100px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid $border-color;

    .first-name {
      font-size: 35px;
      letter-spacing: .2em;
      font-weight: bold;
    }
    .last-name{
      margin: 5px 0 0 15px;
      font-size:40px;
      letter-spacing: .2em;
      font-weight: bold;
    }
  }
#user_show {

  .user-about{
    margin: 5px 0 5px 0;

    .about-section{
      display: block;
      margin: 2px 0 10px 0;
      width: 580px;
      height: auto;

      .about-subsection{
        padding: 10px 0 10px 0;
        margin-left: 20px;
        width: 220px;
        float:left;

        span { font-size: 30px;}
      }
      .info-subsection{
        padding: 10px 0 10px 0;
        margin-left: 10px;

        float:left;

        span{ font-size: 20px;}
      }

    }
  }



}